In [10]:
import pandas as pd
import numpy as np

df_src = pd.read_excel('data.local.xlsx')

In [13]:
df_src = df_src.apply(lambda x: x.str.strip() if x.dtype == object else x)
df_src["nom"] = df_src["nom"].str.title()
df_src["prenom"] = df_src["prenom"].str.title()
df_src["sujet"] = df_src["sujet"].str.capitalize()

df_src

        nom     prenom                               sujet
0  Kiambote  Priscilla                                 NaN
1   Diawara     Mariam                                 NaN
2    Souidi     Ehssan                                 NaN
3    Haridy      Hamza                                 NaN
4    Meyyah     Nassim    Tous les chemins mènent à rome ?
5  Oueslati      Salim    Tous les chemins mènent à rome ?
6  Lomuscio    Zakaria    Tous les chemins mènent à rome ?
7   Mezouar      Malik  La force n'est-elle que physique ?
8  Boukhris     Halima  La force n'est-elle que physique ?

In [14]:
df_src.to_json('../public/data/liste.local.json', orient='records')